<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.168.1.145:3000/uploads/project/ipa/26/Snapfish.ipa.plist</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hp.snapfish</string>
				<key>bundle-version</key>
				<string>1.6</string>
				<key>kind</key>
				<string>Software</string>
				<key>title</key>
				<string>Snapfish</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
